# ===== File biên dịch (STM32CubeIDE) =====
Debug/
Release/
*.o
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
*.list
*.lst

# ===== Metadata / workspace cua IDE =====
.metadata/
*.launch

# ===== File nen / tam =====
*.zip

# ===== File .gitignore go sai ten cu =====
.gitgnore
